<h1>{{title}}</h1>
<p id="tools">
  <button id="anyadirNodo" type="button" class="btn btn-primary">Añadir nodo</button>
  <button id="anyadirHijo" type="button" class="btn btn-primary">Añadir hijo</button>
</p>
<!-- Define the targel element for the tree -->
<form #formAlbum="ngForm" (ngSubmit)="onSubmit()" class="col-md-8">
  <div id="tree">
  </div>
  <br>
  <div id="editor">
    <textarea [(ngModel)]="capitulo.texto" name="texto" [froalaEditor]></textarea>
  </div>
  <br>
  <p>
    <input type="text" #etiquetas="ngModel" name="etiquetas" [(ngModel)]="capitulo.etiquetas" class="form-control">
  </p>
  <input type="submit" value="Guardar" class="btn btn-success" />
</form>

<!-- <textarea id="froala-editor"></textarea> 

<div [froalaEditor]="editorContent">Hello, Froala!</div> 
<textarea id="tinymce" #texto="ngModel" name="texto" [(ngModel)]="capitulo.texto"></textarea> -->